#header {
  margin: calc(size(space-sm) / 2) calc(size(space-lg));
  #nav {
    @include flexHorizontal;

    justify-content: space-between;

    &-logo {
      @include flexHorizontal;

      font-size: size(sm);
      font-family: family(primary), family(tertiary);
      gap: size(sm);

      &__image {
        top: 2rem;
        width: calc(size(image-width));
        height: calc(size(image-width));
        outline: 3px solid color(text-dark-secondary);
        border-radius: 60%;

        &-icon {
          transform: translate(size(md), size(md));
        }
      }

      &__name {
        @include regularFontSize;
      }
    }

    &-container {
      @include flexHorizontal;

      &__list {
        @include flexHorizontal;

        font-size: calc(size(sm));
        list-style-type: none;

        &-item {
          padding: calc(size(space-sm));

          & > a {
            text-decoration: none;
            color: inherit;

            @include lightFontSize;
          }
        }
      }

      &__theme {
        @include flexHorizontal;
        
        border-left: 3px solid lighten($color: color(text-dark-secondary), $amount: opacity(1));
        width: calc(size(image-width) / 1.2);
        height: calc(size(image-width) / 1.2);
        padding: size(space-xs) size(space-sm);

        &-btn {
          padding: size(xs) size(sm);
          border-radius: calc(size(xs)/2);
          border: none;
        }

        .light-theme-btn {
          background-color: lighten($color: color(text-dark-secondary), $amount: opacity(0));

          .fa-solid {
            color: color(text-light-primary);
          }
        }

        .dark-theme-btn {
          background-color: color(light-primary);

          .fa-solid {
            color: color(text-dark-primary);
          }
        }
      }
    }
  }
}
