#bio-card {
  display: flex;
  flex-direction: column;
  gap: size(xs);
  height: fit-content;
  width: fit-content;
  &__icon {
    background-color: color(text-red-tertiary);
    width: max-content;
    padding: size(xs);
    border-radius: 50%;

    &-inner {
    background-color: color(text-red-primary);
    width: max-content;
    padding:calc(size(xs) / 4) size(xs) ;
    border-radius: 50%;

      & i {
        width: max-content;
        color: color(text-light-primary);
        font-size: calc(size(p2xl)*3);
      }
    }
  }

  &__heading {
    font-size: size(h4);
    color: #fff;

    & span {
      color: color(text-red-primary);
    }
  }

  &__description {
    font-size: size(xs);
    font-weight: 400;
    & span {
      color: color(text-red-primary);
      font-weight: 500;
    }
  }

  &__details {
    font-size: size(xs);

    &-row__logo i {
     color: color(text-red-primary);
     font-size: calc(size(p2xl) * 1.4);
    }
  }

  &:hover {
    @include disableHover;
  }
}