#portfolio-card {
  margin: 0;
  flex: 1 0 size(carousel-card);
  &__image {
    grid-column: 1/-1;
    overflow: hidden;
    border-radius: size(brxs);
    margin-bottom: size(space-xs);
    img{
    width: size(p2xl);
    border-radius: size(brxs);
    transition: transform 0.4s;
  }
  }
  &__main-skill {
    font-size: calc(size(p2xl)* 2);
    font-weight:500;
  }
  &__likes {
    justify-self: flex-end;
    font-size: calc(size(p2xl)* 2);
    display: flex;
    gap: size(xs);
  }
  &__heading {
    margin-top: size(xs);
    font-size: calc(size(md));
  }

  &:hover {
    @include cardHover(none) {
      & img {
        transform: scale(1.1);
      }
    }
    
    @include disableHover;
  }
}