@mixin flexHorizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flexVertical {
  display: flex;
  flex-direction: row;
}

@mixin lightFontSize {
  font-family: family(primary), family(tertiary);
  font-weight: 300;
}

@mixin regularFontSize {
  font-family: family(primary), family(tertiary);
  font-weight: 400;
}

@mixin box-shadow {
  box-shadow: inherit;
}

@mixin card($gradient, $shadow1, $shadow2) {
  border-radius: size(brxs);
  padding: size(space-sm);
  margin: size(xs);
  display: grid;
  background: gredient($gradient);
  box-shadow: shadow($shadow1), shadow($shadow2);
  transition: background 0.4s, transform 0.4s;
  color: inherit;
}

@mixin cardHover($background: black-hover, $translate: 0) {
  background: gredient($background);
  transform: translateY($translate);
  @content;
}

@mixin disableHover {
  color: inherit;

  @include cardHover(none, 0) {
    background: inherit;
    & .btn {
      background: inherit;
      box-shadow: inherit;
      color: color(text-red-primary);
    }
    & img {
      overflow: hidden;
    }
  }
}

@mixin section-break($color) {
  // height: 1px;
  margin-top: 10rem;
  border: 1px solid color($color);
  border-top: 0;
  grid-column: 1/-1;
}