@mixin flexHorizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flexVertical {
  display: flex;
  flex-direction: column;
}

@mixin lightFontSize {
  font-family: family(primary), family(tertiary);
  font-weight: 300;
}

@mixin regularFontSize {
  font-family: family(primary), family(tertiary);
  font-weight: 400;
}

@mixin box-shadow {
  box-shadow: inherit;
}

@mixin card($main, $shadow1, $shadow2, $hover: $main) {
  @include backgroundGredientHover($main,$hover);

  border-radius: size(brxs);
  padding: size(space-sm);
  margin: size(xs);
  display: grid;
  background: gredient($main);
  box-shadow: shadow($shadow1), shadow($shadow2);
  transition: transform 0.4s ease;
  color: inherit;
}

@mixin backgroundGredientHover ($main, $hover) {
  @keyframes background-hover-animation {
     0% {
    background: gredient($main);
  }
  100% {
     background: gredient($hover);
  }
  }
}


@mixin cardHover($background: black-hover) {
  background: gredient($background);
  @content;
}

@mixin disableHover {
  color: inherit;

  @include cardHover(none) {
    background: inherit;
    & .btn {
      background: inherit;
      box-shadow: inherit;
      color: color(text-red-primary);
    }
    & img {
      overflow: hidden;
    }
  }
}

@mixin section-break($color) {
  border: 1px solid color($color);
  border-top: 0;
  grid-column: 1/-1;
}

@mixin eecard {
  display: grid;
  justify-items: center;
}