

.dark-card {
  @include card(black,dark-primary,dark-secondary);

  & .heading {
    color: darken($color: color(text-light-primary), $amount: 0%);
  }

  & .main-skills {
    color: color(text-red-primary);
  }
  & .btn {
    background: inherit;
    box-shadow: inherit;
    border-radius: calc(size(brxs) / 2);
    color: color(text-red-primary);
  }

  &:hover {
    @include cardHover(black-hover);
  }
}

.light-card {
  @include card(white,light-primary,light-secondary, red-hover);
  
  position: relative;
  z-index: 1;
  & .btn {
    background: inherit;
    box-shadow: inherit;
    border-radius: calc(size(brxs) / 2);
    color: color(text-red-primary);
  }

    & i.left,
    & i.right {
      background-color: color(text-light-secondary);
      color: color(text-dark-primary);
    }
  &:hover {
    color: color(light-primary);

    & .btn {
      background: gredient(red-hover-btn);
      box-shadow: none;
      color: inherit;
    }

    
    @include cardHover(red-hover);
  }
}

.light-btn {
  background-color: color(text-light-secondary);
  box-shadow: shadow(light-primary) , shadow(light-secondary);
}
.dark-btn {
  background-color: color(text-dark-secondary);
  box-shadow: shadow(dark-primary) , shadow(dark-secondary);
}
.hidden {
  display: none !important;
}

