* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: family(primary), family(secondary), family(tertiary);
  line-height: 1.6;
  letter-spacing: 2px;
}

html {
  font-size: size(root);
}

#container {
  width: calc(size(pxl) + size(p2xs));
  margin:size(space-xl) auto;
}