* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: family(primary), family(secondary), family(tertiary);
  line-height: 1.6;
  letter-spacing: 2px;
}

html {
  font-size: size(root);
}

#container {
  @include flexVertical;
  
  gap: size(space-2xl);
  width: calc(size(space-2xl)* 12);
  margin:size(space-xl) auto;
}

.dark-background {
  .section-break {
     @include section-break(dark-border);
}
}

.light-background {
  .section-break {
     @include section-break(light-border);
  }
}